1- Hacer las importaciones necesarias para abrir un archivo de tipo "csv" en Pandas.

In [6]:
import pandas as pd
import csv

2- Abrir el archivo, creando un Dataframe. Aseguraros de que no incluye la columna "Unnamed: 0".

In [7]:
df_video_juegos = pd.read_csv("videogames.csv", index_col= 0)
df_video_juegos

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20798,"Enjoy Your Power, Enjoy Your Choice",https://www.imdb.com/title/tt3845606/?ref_=adv...,2014.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20799,RedSun2020,https://www.imdb.com/title/tt0790739/?ref_=adv...,2004.0,NaN,NaN,NaN,Joseph gets kidnapped and it's the player's jo...,False,False,False,False,False,False,False,False,True
20800,Shutter,https://www.imdb.com/title/tt5119948/?ref_=adv...,2015.0,NaN,NaN,NaN,A tech support man who uses a drone to investi...,False,False,False,False,False,False,False,False,True
20801,The Music Machine,https://www.imdb.com/title/tt5142082/?ref_=adv...,2015.0,NaN,NaN,NaN,A young teenage girl and the ghost of a dead m...,False,False,False,False,False,False,False,False,True
20802,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

3- Una vez creado el Dataframe, muestra las 10 primeras filas.

In [6]:
df_video_juegos.head(10)

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False
5,The Last of Us: Part II,https://www.imdb.com/title/tt6298000/?ref_=adv...,2020.0,M,8.5,"30,460","Five years after the events of The Last of Us,...",True,True,False,False,False,False,False,False,False
6,Horizon Forbidden West,https://www.imdb.com/title/tt12496904/?ref_=ad...,2022.0,T,9.2,"2,979",Aloy treks into an arcane region and faces new...,True,True,False,False,False,False,True,False,False
7,The Last of Us,https://www.imdb.com/title/tt2140553/?ref_=adv...,2013.0,M,9.7,"60,590","In a hostile, post-pandemic world, Joel and El...",True,True,False,False,False,False,False,False,False
8,Detroit: Become Human,https://www.imdb.com/title/tt5158314/?ref_=adv...,2018.0,M,9.2,"16,907",Take control of three androids in their quest ...,True,True,False,False,False,False,False,False,False
9,Death Stranding,https://www.imdb.com/title/tt5807606/?ref_=adv...,2019.0,M,8.8,"8,136",Deliveryman Sam Porter must travel across a ra...,True,True,False,False,False,False,False,False,False

4- Â¿CÃºal es el Ãºltimo Ã­ndice que tenemos en el Dataframe?

In [8]:
df_video_juegos.tail(1)

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
20802,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

5- Mostrar 15 filas aleatorias.

In [9]:
df_video_juegos.sample(15)

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
5326,Cloudberry Kingdom,https://www.imdb.com/title/tt2543088/?ref_=adv...,2013.0,T,4.2,26,"The Orb resurfaces and the old, maniacal, vill...",True,False,False,False,False,False,False,False,False
19443,Resistance 2,https://www.imdb.com/title/tt1223886/?ref_=adv...,2008.0,M,7.9,"1,290",The Chimera have launched a full scale invasio...,True,False,False,False,False,False,False,True,True
6067,Soldier Girl Amazon,https://www.imdb.com/title/tt2153552/?ref_=adv...,1986.0,NaN,NaN,NaN,Add a Plot,True,True,False,False,False,True,False,False,False
9518,Tail Gunner 2,https://www.imdb.com/title/tt2101454/?ref_=adv...,1980.0,NaN,NaN,NaN,Add a Plot,True,False,False,False,False,False,False,True,False
16299,NFL Blitz,https://www.imdb.com/title/tt0292137/?ref_=adv...,1997.0,E,8.1,64,Football has been a major staple of arcade vid...,False,False,False,False,True,False,False,False,False
2994,Steel Battalion: Heavy Armor,https://www.imdb.com/title/tt2378950/?ref_=adv...,2012.0,M,2.3,40,2082. Pilot the most powerful weapon on the ba...,True,False,False,False,False,False,False,True,True
16057,Gangland,https://www.imdb.com/title/tt0406797/?ref_=adv...,2004.0,M,6.0,26,Add a Plot,True,False,False,True,False,False,False,False,False
4061,Frontline Commando: D-Day,https://www.imdb.com/title/tt6684858/?ref_=adv...,2013.0,NaN,NaN,NaN,Add a Plot,True,False,False,False,False,False,False,False,False
2543,Destroy All Humans! Big Willy Unleashed,https://www.imdb.com/title/tt1078189/?ref_=adv...,2008.0,T,6.7,79,Crypto and Pox have started a fast food restau...,True,True,True,False,False,False,False,False,False
2107,Metroid: Fusion,https://www.imdb.com/title/tt0349818/?ref_=adv...,2002.0,E,8.4,822,After the Metroids were considered to be wiped...,True,True,False,False,False,False,True,False,False
20398,Earth 2160,https://www.imdb.com/title/tt8674646/?ref_=adv...,2005.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,True,False
11467,The Legend of Heroes: Trails in the Sky the 3rd,https://www.imdb.com/title/tt5345610/?ref_=adv...,2007.0,T,7.4,34,Half a year after the events of Trails in the ...,False,True,False,False,False,True,False,False,False
1873,Punishing: Gray Raven,https://www.imdb.com/title/tt13681774/?ref_=ad...,2019.0,NaN,7.6,5,The story of game takes place in a post-apocal...,True,False,False,False,False,False,False,True,False
5960,Critical Path,https://www.imdb.com/title/tt0157493/?ref_=adv...,1994.0,NaN,6.5,12,"After an apocalyptic event, a surviving comman...",True,True,False,False,False,False,False,True,False
9005,Rupan sansei: Densetsu no hihou o oe!,https://www.imdb.com/title/tt0903971/?ref_=adv...,1994.0,NaN,NaN,NaN,"Lupin is in search for the ""Fountain of Youth"".",True,True,False,False,False,True,False,False,False

6- Crea una lista con el nombre de las columnas.

In [11]:
df_video_juegos.columns

Index(['name', 'url', 'year', 'certificate', 'rating', 'votes', 'plot',
       'Action', 'Adventure', 'Comedy', 'Crime', 'Family', 'Fantasy',
       'Mystery', 'Sci-Fi', 'Thriller'],
      dtype='object')

7- Guardar el Dataframe en formato Excel y despuÃ©s crear un Dataframe con el Excel. Â¿EL Dataframe es similar al que tenÃ­ais antes?

In [12]:
df_video_juegos.to_excel('video_juegos.xlsx')

In [13]:
df_excel_juegos = pd.read_excel('video_juegos.xlsx', index_col= 0)

In [14]:
df_excel_juegos

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20798,"Enjoy Your Power, Enjoy Your Choice",https://www.imdb.com/title/tt3845606/?ref_=adv...,2014.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20799,RedSun2020,https://www.imdb.com/title/tt0790739/?ref_=adv...,2004.0,NaN,NaN,NaN,Joseph gets kidnapped and it's the player's jo...,False,False,False,False,False,False,False,False,True
20800,Shutter,https://www.imdb.com/title/tt5119948/?ref_=adv...,2015.0,NaN,NaN,NaN,A tech support man who uses a drone to investi...,False,False,False,False,False,False,False,False,True
20801,The Music Machine,https://www.imdb.com/title/tt5142082/?ref_=adv...,2015.0,NaN,NaN,NaN,A young teenage girl and the ghost of a dead m...,False,False,False,False,False,False,False,False,True
20802,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

8- Muestra la "info" del Dataframe.

In [15]:
df_excel_juegos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20803 entries, 0 to 20802
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         20803 non-null  object
 1   url          20803 non-null  object
 2   year         20536 non-null  float64
 3   certificate  7903 non-null   object
 4   rating       11600 non-null  float64
 5   votes        11600 non-null  object
 6   plot         20803 non-null  object
 7   Action       20803 non-null  bool
 8   Adventure    20803 non-null  bool
 9   Comedy       20803 non-null  bool
 10  Crime        20803 non-null  bool
 11  Family       20803 non-null  bool
 12  Fantasy      20803 non-null  bool
 13  Mystery      20803 non-null  bool
 14  Sci-Fi       20803 non-null  bool
 15  Thriller     20803 non-null  bool
dtypes: bool(9), float64(2), object(5)
memory usage: 1.4+ MB

9- Â¿Tiene nulos o duplicados?

In [16]:
df_excel_juegos.isnull()

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20798,False,False,False,True,True,True,False,False,False,False,False,False,False,False,False,False
20799,False,False,False,True,True,True,False,False,False,False,False,False,False,False,False,False
20800,False,False,False,True,True,True,False,False,False,False,False,False,False,False,False,False
20801,False,False,False,True,True,True,False,False,False,False,False,False,False,False,False,False
20802,False,False,False,True,True,True,False,False,False,False,False,False,False,False,False,False

In [17]:
df_excel_juegos.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
20798    False
20799    False
20800    False
20801    False
20802    False
Length: 20803, dtype: bool

10 -Obtener la descripciÃ³n del Dataframe, tanto de las columnas numÃ©ricas cÃ³mo de las de tipo "object". Explorar el resultado y sacar unas mÃ­nimas comclusiones sobre los datos que habÃ©is obtenido.

In [18]:
df_excel_juegos.describe(include='object')

,name,url,certificate,votes,plot
count,20803,20803,7903,11600,20803
unique,19714,20157,21,1905,11276
top,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,T,7,Add a Plot
freq,9,4,2474,318,8874

11 - Finalmente, guarda el Dataframe en formato "csv" con un nombre diferente del original.

In [19]:
df_excel_juegos.to_csv('excel_video_juegos.csv')